<%- include('./layout/header') %>

    <% data.forEach(data=>{ %>
        <div>
            <h2>
                <%=data.type%>
            </h2>
            <h3>
                <%=data.setup%>
            </h3>
            <h4>
                <%=data.punchline%>
            </h4>

            <a href="/details/<%= data.id %>">Show details</a>


        </div>

        <%})%>